.signinMain,
.signupMain {
  height: 90vh;
  background: #f1f3f6;
}
.signinform,
.signupform {
  width: 35%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 20%;
  padding: 24px;
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
}
.signupform {
  top: 12%;
}
.signupform .rts {
  margin-top: 20px;
}
.signinform button,
.signupform button {
  background-color: #343a40;
  border-color: #343a40;
  line-height: 1.3em;
  font-size: 1.3em;
  border-radius: 2px;
  color: #fff;
  padding: 8px 10px !important;
}
.h3-login {
  text-align: center;
  margin-bottom: 22px;
}
/*  {input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select */
.sign {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #cfd5de;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 0 1em;
  background-color: transparent;
  outline: none;
  border-radius: 2px;
}
input,
select,
textarea {
  padding: 8px 10px !important;
  line-height: 1.42 !important;
}
.form-control:focus {
  border-color: #495057 !important;
  box-shadow: 0 0 0 0.2rem transparent !important;
}
/* .btn .btn-block {
  margin-bottom: 10px !important;
} */
.rts {
  color: #000;
  text-decoration: underline;
  background: transparent;
}
.signindangeralert {
  text-align: center;
  width: 35%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 49px);
}
.signupdangeralert {
  text-align: center;
  width: 35%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 7px);
}

@media (max-width: 768px) {
  .signinform,
  .signupform {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    background: #f1f3f6;
    box-shadow: 0 1px 8px 0 transparent;
  }
}
